.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1,
h6 {
  margin: 5px;
}
h4 {
  line-height: 50px;
  margin-right: 30px;
}

.output > div,
.input > div {
  background-color: gray;
  color: white;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
  display: inline-flex;
}

.output {
  display: block;
}

.output > div {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.output > div > span {
  margin: auto;
  pointer-events: none;
  user-select: none;
}

.input > div {
  width: 40px;
  height: 40px;
  margin: 15px;
}

.input > div > span {
  margin: auto;
  pointer-events: none;
  user-select: none;
}

.code {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#variables,
#code {
  resize: none;
  height: 100%;
  flex: 1;
  color: black;
  font-size: 14px;
}

code {
  width: 60%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
}
#code-container {
  flex: 1;
}

.code-row {
  flex: 1;
}
