.output>div,
.input>div {
    background-color: gray;
    color: white;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
    display: inline-flex;
}

.output {
    display: block;
}

.output>div {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.input>div>span,
.output>div>span {
    margin: auto;
    pointer-events: none;
    user-select: none;
}

.input>div {
    width: 44px;
    height: 44px;
    margin: 13px;
}

.output-row h4,
.input-row h4 {
    width: 60px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}


.output-row {
    grid-area: 1 / 1 / 2 / 2;
}

.input-row {
    grid-area: 2 / 1 / 3 / 2;
}

.io>.stan {
    grid-area: 1 / 2 / 2 / 3;
    padding-top: 10px;
}

.io>.tim {
    grid-area: 2 / 2 / 3 / 3;
    padding-top: 10px;
}

.io {
    display: grid;
    grid-template-columns: auto 1px;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: white;
    margin: auto;
}

.stan,
.stan1,
.stan2,
.stan3 {
    font-size: 15px !important;
}

.stans span {
    font-weight: bold;
}



@media screen and (max-width: 1600px) {
    .input>div {
        margin: 7px;
    }

    .output>div {
        margin: 4px;
    }
}