@import "logger.css";
@import "io.css";
@import "codeMirror.css";

.input-group {
  display: flex;
}

#oczko {
  background-image: url("../assets/oczko.gif");
  background-size: 500px;
  background-repeat: repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

body,
.app {
  min-height: 100vh;
  background: #fcf5e4;
}

.app {
  background: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #ced4da;
}


#variables,
#code {
  resize: none;
  height: 100%;
  flex: 1;
  color: black;
  font-size: 14px;
}

code {
  width: 100%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
}

input {
  color: black;
}

.code {
  flex: 1;
  display: flex;
  flex-direction: column;

}


#code-container {
  flex: 1;
}

@media screen and (max-width: 1200px) {

  .output>div {
    margin: 5px 2px;
  }

  .input>div {
    margin: 5px 2px;
  }

  p {
    font-size: 13px;
  }
}

@media screen and (max-width: 991px) {

  .output>div {
    margin: 5px;
  }

  .input>div {
    margin: 5px 10px;
  }

  p {
    font-size: 12px;
  }

  body,
  .app {
    overflow: unset;
    height: unset;
    min-height: 50vh;
  }

  #logger {
    display: none !important;
  }

  #code {
    resize: vertical;
    min-height: 300px;
  }

  #code-container {
    display: block;
  }
}